<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
  <head>
    <title>Actech Inc. Your Total Solution to Plastic Injection Molding</title>
    <meta name="description" content="Your total solution to Plastic Injection Molding;
    part design, prototyping, mold making, mass production molding, and secondary operations">
    <meta name="keywords" content="plastic, injection, molding, metal mold, molds,
    prototype, prototyping, mock-up sample, mockup sample, handmade working sample,
    plastic injection tooling, plastic housing, box, case, enclosure, thermoplastics,
    plastic parts, abs, pc, pbt, pom, ppo, pps, pa, acrylic, pp, pe, lexan, cycoloy,
    valox, duracon, noryl, ryton, nylon">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/mainmenu.css" type="text/css" />
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/menu.js"></script>
    <script type="text/javascript" src="/scripts/leftmenu.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </head>
  <body>
    <div id="titlebar">
      <a href="/">
        <div class="titlebar_resize"></div>
      </a>
    </div>
    {{ partial "menu" }}
