<div id="menu">
  <div class="menu_resize">
    <ul class="menu">
      <li id="myli">
        <a href="/" class="parent"><span>About Us</span></a>
        <ul>
          <li><a href="/about-us/why-actech">Why Actech</a></li>
          <li><a href="/about-us/testimonials">Testimonials</a></li>
          <li><a href="/about-us/project-schedule">Project Schedule</a></li>
        </ul>
      </li>
      <li id="myli"><a href="2100-tc-variety.htm" class="parent"><span>Tooling Capabilities</span></a>
        <ul>
          <li><a href="2100-tc-variety.htm"><span>Variety of Tooling</span></a></li>
          <li><a href="2200-tc-equipment.htm"><span>List of Equipment</span></a></li>
        </ul>
      </li>
      <li id="myli"><a href="3100-pm-variety.htm" class="parent"><span>Plastic Molding</span></a>
        <ul>
          <li><a href="3100-pm-variety.htm"><span>Variety of Products</span></a></li>
          <li><a href="3200-pm-equipment.htm"><span>Molding Machines</span></a></li>
          <li><a href="3310-pm-abs.htm" class="parent"><span>Major Resins Used</span></a>
            <ul>
              <li><a href="3310-pm-abs.htm"><span>ABS</span></a></li>
              <li><a href="3320-pm-pc.htm"><span>Polycarbonate, PC</span></a></li>
              <li><a href="3330-pm-pa.htm"><span>Polyamide, PA</span></a></li>
              <li><a href="3340-pm-abspc.htm"><span>ABS + PC Alloy</span></a></li>
              <li><a href="3350-pm-pmma.htm"><span>PMMA</span></a></li>
              <li><a href="3360-pm-pp.htm"><span>Polypropylene</span></a></li>
              <li><a href="3370-pm-pom.htm"><span>Polyacetal(POM)</span></a></li>
              <li><a href="3380-pm-pbt.htm"><span>PBT</span></a></li>
            </ul>
        </ul>
          </li>
          <li id="myli"><a href="4100-vas-productdesign.htm" class="parent"><span>Value-added Services</span></a>
            <ul>
              <li><a href="4100-vas-productdesign.htm"><span>Product Design</span></a></li>
              <li><a href="4200-vas-prototyping.htm"><span>Prototyping</span></a></li>
              <li><a href="4400-vas-secondaryoperations.htm"><span>Secondary Operations</span></a></li>
              <li><a href="4500-vas-extendedservices.htm"><span>Extended Services</span></a></li>
            </ul>
          </li>
          <li><a href="1400-au-contactus.htm" class="parent"><span>Contact Us</span></a></li>
    </ul>
  </div>
</div>
