{{ partial "header" }}
<div id="content">
  <div class="content_resize">
    <div class="article">
      <h2>Why Actech</h2>
      <p>Actech Inc. was founded on the belief that customers need a total solution
      when developing plastic components. We help you to avoid needlessly complicated
      mold designs and over-engineered parts.
      </p>
      <p>
      Our professional staff offer a wide variety of services, from part design,
      prototyping, material selection and tooling to the final manufacturing of your components and products.
      </p>
      <p>
      We also offer many value-added services such as screen printing,  pad printing,  ultrasonic welding,
      rubber molding,  sheetmetal components, cable assembly, membrane panels, CNC machining, product
      assembly, packaging and more.
      </p>
      <p>
      Why choose Actech?<br />
      - Access to the low manufacturing and labor cost in Asia<br />
      - Quality assurance by experties in Actech<br />
      - Fluent in English - no language barriers<br />
      - Lower volume of MOQ requirements than most vendors<br />
      - Significant savings over domestic manufacturing<br />
      - The advantage of doing business in Taiwan over mainland China<br />
      - Taiwan is a key US trade partner with over 50 years of stable relations
      </p>
      <p>
      Actech essentially acts as a remote business division overseeing development, material procurement, production,
      quality assurance and other interests of our client companies.
      </p>

      <!-- InstanceEndEditable -->
    </div>

    {{ partial "about-us-menu" . }}
  </div>
</div>
{{ partial "footer" }}
