#menu {
    position: relative;
    z-index: 10;
    padding: 0;
}

.menu_resize {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 0;
    width: 970px;
    height: 40px;
    background-color: rgba(8, 62, 114, 1);
}
#menu ul {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
#menu ul.menu {
    position: relative;
    z-index: 10;
    font-size: 16px;
margin: 0 0 0 5px; }
#menu li {
    position: relative;
    z-index: 10;
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    display: block;
float: left; }
#menu li:hover>ul {
left: 0px; }
#menu a {
    position: relative;
    z-index: 10;
    height: 45px;
    display: block;
    float: left;
    line-height: 45px;
    text-decoration: none;
    font-family: Arimo, Calibri;
letter-spacing: 1px; }
#menu a:hover, div#menu a:hover span {
    color: #fff;
}
#menu li.current a {

}
#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
background-position: 95% 0; }
#menu ul ul a.parent span {
    background-position: 95% 12px;
background-image: url(../images/mainmenu/item-pointer.gif); }
#menu ul ul a.parent:hover span {
background-image: url(../images/mainmenu/item-pointer-mover.gif); }
/* menu::level1 */
#menu a {
    padding: 0 12px 0 12px;
    line-height: 30px;
color: #e5e5e5; }
#menu span {
margin-top: 5px; }
/**@replace#1*/
#menu li {
}
#menu li.last {
background: none; }
/* menu::level2 */
#menu ul ul li {
background: none; }
#menu ul ul {
    position: absolute;
    top: 37px;
    left: -999em;
    width: 225px;
    padding: 5px 0;
    background-color: rgba(8, 62, 114, 1);
    margin-top: 3px;
    margin-left: -5px;
}

#menu ul ul a {
    padding: 0 0 0 18px;
    height: auto;
    float: none;
    display: block;

    line-height: 36px;
}
#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 15px;
}
#menu ul ul a:hover span {
    color: #fff;
}
#menu ul ul li.last {
background: none; }
#menu ul ul li {
width: 100%; }
/* menu::level3 */
#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 225px !important;
}
